﻿@{
    ViewBag.Title = "Administrer";
}



    <div id="adminPage" class="d-flex justify-content-center">
        <div class="align-self-center">
            <h1 class="mb-5 mt-5">Administrer</h1>
            <div class="d-flex align-self-center">
                <div class="col-4">
                    <a class="btn btn-primary col-9" href="@Url.Action("Index", "Departure")">Vis avganger</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-primary col-9" href="@Url.Action("Index", "Price")">Se Priser</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-primary col-9" href="@Url.Action("Index", "Station")">Se stasjoner</a>
                </div>
            </div>
        </div>
    </div>
