﻿@model Webapps_Mappe1.Model.User

@{ 
    ViewBag.Title = "Logg inn";
}

@using (Html.BeginForm("Index", "Admin", FormMethod.Post, new {id = "loginForm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h3 class="col-12 mb-3">Logg inn</h3>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-2" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-2 mt-3" })
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>

    <p>
        <input type="submit" value="Logg inn" class="col-12 btn btn-primary mt-4" />
    </p>
}