﻿@model Webapps_Mappe1.Model.DBTicket

@{
    ViewBag.Title = "Detaljer";
}

<div class="center-card">
    <h2>Detaljer</h2>


    <div class="card" style="width:50%">
        <div class="card-header">Billett @Html.DisplayFor(model => model.ID)</div>
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Departure.StartStation.Name) → @Html.DisplayFor(model => model.Departure.EndStation.Name)</h5>
            <h6 class="card-subtitle mb-4 text-muted">@Html.DisplayFor(model => model.StartDate) @Html.DisplayFor(model => model.Departure.StartTime)</h6>

            @if (Model.RoundTrip != null)
            {
                <h5 class="card-title">@Html.DisplayFor(model => model.RoundTrip.StartStation.Name) → @Html.DisplayFor(model => model.RoundTrip.EndStation.Name)</h5>
                <h6 class="card-subtitle mb-4 text-muted">@Html.DisplayFor(model => model.RoundTripDate) @Html.DisplayFor(model => model.RoundTrip.StartTime)</h6>
            }

            <div class="card-text">
                <p>
                    @Html.LabelFor(model => model.Email)
                        @Html.DisplayFor(model => model.Email)
                </p>

                <p>
                    @if (Model.NumAdults > 0)
                    {
                        @Html.LabelFor(model => model.NumAdults)
                        <nbsp />
                        @Html.DisplayFor(model => model.NumAdults)
                    }
                </p>

                <p>
                    @if (Model.NumChildren > 0)
                    {
                        @Html.LabelFor(model => model.NumChildren)
                        <nbsp />
                        @Html.DisplayFor(model => model.NumChildren)
                    }
                </p>

                <p>
                    @if (Model.NumStudents > 0)
                    {
                        @Html.LabelFor(model => model.NumStudents)
                        <nbsp />
                        @Html.DisplayFor(model => model.NumStudents)
                    }

                <p>
                    @if (Model.NumSeniors > 0)
                    {
                        @Html.LabelFor(model => model.NumSeniors)
                        <nbsp />
                        @Html.DisplayFor(model => model.NumSeniors)
                    }
                </p>

                <p>
                    @if (Model.Price > 0)
                    {
                        @Html.LabelFor(model => model.Price)
                        <nbsp />
                        @Html.DisplayFor(model => model.Price)
                    }
                    kr
                </p>

                <p>
                    @Html.LabelFor(model => model.TimeBought)
                    <nbsp />
                    @Html.DisplayFor(model => model.TimeBought)
                </p>
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Tilbake til liste", "ShowTickets")
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
