﻿@model Webapps_Mappe1.Model.Ticket

@using Webapps_Mappe1.Model
@using Webapps_Mappe1.BLL

@{
    ViewBag.Title = "Kjøp billett";
}

@{
    List<SelectListItem> stationList = new List<SelectListItem>();
    StationBLL stationBLL = new StationBLL();
    var stations = stationBLL.GetAllStations();
    foreach (Station s in stations)
    {
        stationList.Add(new SelectListItem
        {
            Text = s.Name,
            Value = s.Name
        });
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="display: grid; justify-content: center">
        <div class="form-horizontal">
            <h4 class="text-center">Kjøp billett</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(model => model.StartStation, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.StartStation, stationList, "Velg stasjon", new { @class = "form-control" })
                    <div class="error hidden text-danger"></div>
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(model => model.EndStation, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.EndStation, stationList, "Velg stasjon", new { @class = "form-control" })

                    <div class="error hidden text-danger"></div>

                </div>
            </div>

            <div class="form-group">

                <div class="col-md-12">
                    <div class="checkbox col">
                        @Html.CheckBoxFor(model => model.RoundTrip, new { @class = "form-check-input" })
                        @Html.LabelFor(model => model.RoundTrip, new { @for = "RoundTrip" })
                    </div>
                </div>
            </div>

            @{
                List<SelectListItem> itemList = new List<SelectListItem>();
                string time;
                for (int i = 0; i < 24; i++)
                {
                    time = "";
                    if (i < 10)
                    {
                        time += "0";
                    }
                    time += i + ":00";
                    itemList.Add(new SelectListItem
                    {
                        Text = time,
                        Value = time
                    });
                }
            }

            <div class="form-group row">
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    <div class="error hidden text-danger"></div>
                </div>

                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.DropDownListFor(model => model.StartTime, itemList, "Velg klokkeslett", new { @class = "form-control" })
                    <div class="error hidden text-danger"></div>
                </div>
            </div>

            <div class="form-group row hidden" id="RoundTripFields">
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(model => model.RoundTripDate, htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.RoundTripDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                    <div class="error hidden text-danger"></div>
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.LabelFor(model => model.RoundTripTime, htmlAttributes: new { @class = "control-label col" })
                    @Html.DropDownListFor(model => model.RoundTripTime, itemList, "Velg klokkeslett", new { @class = "form-control" })
                    <div class="error hidden text-danger"></div>
                </div>
            </div>



            <div class="form-group row num-tickets text-center" style="max-width:625px">

                <div class="col mx-5">
                    @Html.LabelFor(model => model.NumAdults, htmlAttributes: new { @class = "control-label col" })
                    <div class="input-group">
                        <div class="input-group-addon minus">
                            <span class="btn input-group-text mt-0">
                                -
                            </span>
                        </div>
                        @Html.EditorFor(model => model.NumAdults, new { htmlAttributes = new { @class = "form-control numTickets", @Value = "0" } })
                        <div class="input-group-addon plus">
                            <span class="btn input-group-text mt-0">
                                +
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col mx-5">
                    @Html.LabelFor(model => model.NumChildren, htmlAttributes: new { @class = "control-label col" })
                    <div class="input-group">
                        <div class="input-group-addon minus">
                            <span class="btn input-group-text mt-0">
                                -
                            </span>
                        </div>
                        @Html.EditorFor(model => model.NumChildren, new { htmlAttributes = new { @class = "form-control numTickets", @Value = "0" } })
                        <div class="input-group-addon plus">
                            <span class="btn input-group-text mt-0">
                                +
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row text-center num-tickets" style="max-width:625px">
                <div class="col mx-5">
                    @Html.LabelFor(model => model.NumStudents, htmlAttributes: new { @class = "control-label col" })
                    <div class="input-group">
                        <div class="input-group-addon minus">
                            <span class="btn input-group-text mt-0">
                                -
                            </span>
                        </div>
                        @Html.EditorFor(model => model.NumStudents, new { htmlAttributes = new { @class = "form-control numTickets", @Value = "0" } })
                        <div class="input-group-addon plus">
                            <span class="btn input-group-text mt-0">
                                +
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col mx-5">
                    @Html.LabelFor(model => model.NumSeniors, htmlAttributes: new { @class = "control-label col" })
                    <div class="input-group">
                        <div class="input-group-addon minus">
                            <span class="btn input-group-text mt-0">
                                -
                            </span>
                        </div>
                        @Html.EditorFor(model => model.NumSeniors, new { htmlAttributes = new { @class = "form-control numTickets", @Value = "0" } })
                        <div class="input-group-addon plus">
                            <span class="btn input-group-text mt-0">
                                +
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="NumTicketsError" class="error hidden text-danger col text-center"></div>

            <div class="form-group row">
                <div class="col-8" style="position: relative; transform: translateX(-50%); left: 50%;">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control col-12" } })
                    <div id="EmailError" class="error hidden text-danger"></div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col" style="display: grid;">
                <input id="btn-departures" type="button" value="Velg billett" class="btn btn-primary btn-lg" style="width:100%; margin-top:1rem; justify-self: center" />
            </div>
        </div>

    </div>

}

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Avganger</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fra</th>
                            <th>Til</th>
                            <th>Dato</th>
                            <th>Tid</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/helper-functions.js"></script>
<script src="~/Scripts/buy-ticket-validator.js"></script>
<script src="~/Scripts/buy-ticket.js"></script>
<script src="~/Scripts/selectScript.js"></script>