﻿@model IList<Webapps_Mappe1.Model.DBTicket>

@{
    ViewBag.Title = "Dine billetter";
}

    <div class="ml-3 mb-3">
        <h2>Dine billetter</h2>
    </div>

<table class="table">
    <tr>
        <th>
            Fra
        </th>
        <th>
            Til
        </th>
        <th>
            Dato og tid
        </th>
        <th>
            Tur/Retur
        </th>
        <th>
            Se detaljer
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="window.location.href='/Ticket/Details/@item.ID'">
            <td>
                @Html.DisplayFor(modelItem => item.Departure.StartStation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure.EndStation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
                @Html.DisplayFor(modelItem => item.Departure.StartTime)
            </td>
            <td>
                @{
                    if (item.RoundTrip != null)
                    {
                        <p>✓</p>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Detaljer", "Details", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<div class="ml-3">
    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Ticket")">Kjøp ny billett</a>
</div>
