

html, body {
    overflow-x:hidden;
}

.btn {
	margin-top: 1rem;
}

.number-incrementer {
	color: black;
}

.number-incrementer input {
	text-align: center;
	font-size: 2rem;
}

.num-tickets input {
    text-align:center;
}

.row select {
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.btn-num {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border-style: none;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: #A7BCD6;
}

.hidden {
    display:none;
}

nav {
    width:100vw;
}

form {
    max-width: 768px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
}

.center-card {
    display: grid;
    justify-items: center;
}

tr {
    cursor: pointer;
}

tr:hover {
    background: #eee;
}

#loginForm {
    max-width: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#adminPage {
    width: 100vw;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    text-align: center;
}

#adminPage .d-flex {
    width: 768px;
    max-width: 90vw;
}