﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vy - @ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="~/Scripts/moderizr-2.8.3.js"></script>

</head>
<body style="padding:0">

    <nav class="navbar navbar-expand-lg navbar-dark" style="background:#3b3b3b">
        <a class="navbar-brand" href="@Url.Action("Index", "Ticket")">
            <img src="~/Content/Images/vy-white.svg" class="d-inline-block" height="30"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="toggle-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav mr-auto">
                <li id="buyTicket" class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Ticket")">Kjøp billett</a>
                </li>
                <li id="showTickets" class="nav-item">
                    <a class="nav-link" href="@Url.Action("ShowTickets", "Ticket")">Se billetter</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li id="SignIn" class="nav-item ml-auto">
                    @{ 
                        var text = "Logg inn";
                        if (Session["SignIn"] != null && (bool)Session["SignIn"])
                        {
                            text = "Administrer";
                        }
                    }
                    <a class="nav-link" href="@Url.Action("Index", "Admin")">@text</a>
                </li>
            </ul>

        </div>

    </nav>
    <br/>
    @RenderBody()
        
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.no.min.js" charset="utf-8"></script>
    <script src="~/Scripts/moment.min.js"></script>
</body>
</html>