﻿<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bekreft sletting</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>Er du sikker på at du vil slette følgende?</p>
                <div class="text-danger" id="deleteName">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnModalDelete">Slett</button>
            </div>
        </div>
    </div>
</div>