﻿@model IEnumerable<Webapps_Mappe1.Model.Station>

@{
    ViewBag.Title = "Index";
}

<div class="ml-2">
    <h2>Stasjoner</h2>
    <p>
        @Html.ActionLink("Opprett stasjon", "CreateStation")
    </p>
    <input id="search" class="form-control mb-2" placeholder="Search" />
</div>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.LastModifiedBy)</th>
            <th>@Html.DisplayNameFor(model => model.LastModifiedAt)</th>
        </tr>
    </thead>

    <tdoby>
        @foreach (var item in Model)
        {
            <tr class="row-@item.ID">
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.LastModifiedBy)</td>
                <td>@Html.DisplayFor(modelItem => item.LastModifiedAt)</td>
                <td>
                    <a href="@Url.Action("EditStation", "Station", new { id = item.ID })">Endre</a> |
                    <a href="#deleteModal" id="btnDelete"
                       data-name="@item.Name" data-id="@item.ID" data-toggle="modal" data-deleteModal="true">Slett</a>
                </td>
            </tr>
        }
    </tdoby>
</table>
@Html.Partial("DeleteModal")


<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">

    function removeRowWithId(id) {
        console.log($(`.row-${id}`), id);
        $(`.row-${id}`).remove();
    }

    $(document).ready(function () {
        $('a[data-deleteModal=true]').click(function () {

            var data_name = $(this).data('name');
            var data_id = $(this).data('id');

            $('#deleteName').html(data_name);

            $('#btnModalDelete').click(function () {
                 $.ajax({
                    url: '@Url.Action("DeleteStation", "Station")',
                    data: { id: data_id },
                    success: function () {
                        removeRowWithId(data_id);
                }
                });
            })
        })
        $('#search').on('keyup paste', function () {
            $('tbody tr').addClass('hidden')
                .each(function (i, el) {
                    let search = $('#search').val().toLowerCase();
                    console.log(search);
                    console.log($(el).children());
                    if ($(el).children()[0].innerHTML.toLowerCase().startsWith(search)) {
                        $(el).removeClass('hidden');
                    }
                });
        });
    });
</script>

