﻿@model Webapps_Mappe1.Model.Price

@{
    ViewBag.Title = "EditPrice";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Endre pris</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger", Type = "text" })
            </div>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastModifiedBy, new { htmlAttributes = new { @class = "hidden" } })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lagre" class="btn btn-primary" />
            </div>
        </div>
        <div>
            @Html.ActionLink("Tilbake til listen", "Index")
        </div>
    </div>
}



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
    $("#LastModifiedBy").val('@Session["username"]');
    console.log('@Session["username"]', $('#LastModifiedBy'));

    })
</script>
