﻿@model IEnumerable<Webapps_Mappe1.Model.Price>

@{
    ViewBag.Title = "Priser";
}

<h2 class="ml-2 mb-2">Priser</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
        <th>@Html.DisplayNameFor(model => model.Value)</th>
        <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
        <th>@Html.DisplayNameFor(model => model.LastModifiedBy)</th>
        <th>@Html.DisplayNameFor(model => model.LastModifiedAt)</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Value)
    </td>
    <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
    <td>@Html.DisplayFor(modelItem => item.LastModifiedBy)</td>
    <td>@Html.DisplayFor(modelItem => item.LastModifiedAt)</td>
    <td>
        @Html.ActionLink("Endre", "EditPrice", new { id = item.ID })
    </td>
</tr>
}

</table>
