﻿@model Webapps_Mappe1.Model.DepartureModel
@using Webapps_Mappe1.Model
@using Webapps_Mappe1.BLL

@{
    ViewBag.Title = "Opprett avgang";
}

@{
    List<SelectListItem> stationList = new List<SelectListItem>();
    var stationBLL = new StationBLL();
    var stations = stationBLL.GetAllStations();

    foreach (Station s in stations)
    {
        stationList.Add(new SelectListItem
        {
            Text = s.Name,
            Value = s.Name
        });
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h2>Opprett avgang</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="d-flex">
                    <input type="number" class="form-control col-1" placeholder="00" id="hours" max="23" />
                    <span class="m-1" style="font-size: 2rem; margin-top:-0.5rem!important">:</span>
                    <input type="number" class="form-control col-1" placeholder="00" id="minutes" max="59" />
                </div>
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control hidden" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StartStation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StartStation, stationList, "Velg stasjon", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartStation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndStation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EndStation, stationList, "Velg stasjon", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndStation, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "hidden" } })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Opprett" class="btn btn-primary" id="btnConfirm" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Tilbake til listen", "Index")
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    let times = $('#StartTime').val().split(':');
    $('#hours').val(times[0]);
    $('#minutes').val(times[1]);
</script>

<script>
    $(document).ready(function () {
    $("#CreatedBy").val('@Session["username"]');
    console.log('@Session["username"]', $('#CreatedBy'));

    })
</script>
