﻿@model Webapps_Mappe1.Model.Departure

@{
    ViewBag.Title = "Endre avgang";
}

<head>

</head>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2>Endre avgang</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <div class="control-label col-md-2">
            Ny tid
        </div>

        <div class="col-md-10">
            @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control hidden" } })
            <div class="d-flex">
                <input type="number" class="form-control col-1" placeholder="00" id="hours" max="23" />
                <span class="m-1" style="font-size: 2rem; margin-top:-0.5rem!important">:</span>
                <input type="number" class="form-control col-1" placeholder="00" id="minutes" max="59" />
            </div>
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.LastModifiedBy, new { htmlAttributes = new { @class = "hidden" } })
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Lagre" class="btn btn-primary" id="btnConfirm" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Tilbake til listen", "Index")
    </div>
</div>
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    let times = $('#StartTime').val().split(':');
    $('#hours').val(times[0]);
    $('#minutes').val(times[1]);
</script>

<script>
    $(document).ready(function () {
    $("#LastModifiedBy").val('@Session["username"]');
    console.log('@Session["username"]', $('#LastModifiedBy'));

    })
</script>
