﻿@model IEnumerable<Webapps_Mappe1.Model.Departure>

@{
    ViewBag.Title = "ShowDepartures";
}

<div class="ml-2">
    <h2>Avganger</h2>
    <p>
        @Html.ActionLink("Opprett avgang", "CreateDeparture")
    </p>
    <input id="search" class="form-control mb-2" placeholder="Search" />
</div>


<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.StartStation)</th>
            <th>@Html.DisplayNameFor(model => model.EndStation)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.LastModifiedBy)</th>
            <th>@Html.DisplayNameFor(model => model.LastModifiedAt)</th>
            <th>Rediger</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => item.StartStation.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.EndStation.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
            <td>@Html.DisplayFor(modelItem => item.LastModifiedBy)</td>
            <td>@Html.DisplayFor(modelItem => item.LastModifiedAt)</td>
            <td>
                <a href="@Url.Action("EditDeparture", "Admin", new { id = item.ID })">Endre tid</a> |
                <a href="#deleteModal" id="btnDelete" class="text-danger" data-toggle="modal" data-deleteModal="true"
                   data-name="@item.StartTime | @item.StartStation.Name → @item.EndStation.Name" data-id="@item.ID">Slett</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@Html.Partial("DeleteModal")



<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    function removeRowWithId(id) {
        console.log($(`.row-${id}`), id);
        $(`.row-${id}`).remove();
    }

        $(document).ready(function () {
            $('a[data-deleteModal=true]').click(function () {

                var data_name = $(this).data('name');
                var data_id = $(this).data('id');

                console.log(data_name);
                console.log(data_id);

                $('#deleteName').html(data_name);

                $('#btnModalDelete').click(function () {
                    $.ajax({
                        url: '@Url.Action("DeleteDeparture", "Departure")',
                        data: { id: data_id },
                        success: function () {
                            removeRowWithId(data_id);
                        }
                    });
                })
            })


            $('#search').on('keyup paste', function () {
                $('tbody tr').addClass('hidden')
                    .each(function (i, el) {
                        let search = $('#search').val().toLowerCase().split(',');
                        let from = search[0];
                        let to = search[1];
                        if ($(el).children()[1].innerHTML.toLowerCase().startsWith(from)) {
                            if (to !== undefined && to !== "") {
                                if ($(el).children()[2].innerHTML.toLowerCase().startsWith(to.trim())) {
                                    $(el).removeClass('hidden');
                                }
                            } else {
                                $(el).removeClass('hidden');
                            }
                        }
                });
            });
        });
</script>